*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #000000;
    color: white;
    
}

header{
    position: relative;
    height: 70px;
}

.settings-right{
    display: flex;
    right: 10px;
    top: 10px;
    position: absolute;
    font-size: 0.9em;
}

.bordo{
    background-color: grey;
    border-radius: 7px;
    padding: 5px;
    margin-right: 10px;
}

main{
    height: calc( 100vh - 100px);
}

.immagine{
    position: relative;
}

.container-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.immagine{
    margin-top: 10px;
    margin-right: 5px;
}

.palla{
    position: absolute;
    bottom: 5px;
    color: white;
    background: rgba(210, 210, 210, 0.3);
    left: 0;
    padding: 5px;
}


