*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: red;
    color: white;
}

header{
    display: flex;
    position: relative;
    height: 10vh;
}

.settings-right{
    display: flex;
    right: 10px;
    top: 10px;
    position: absolute;
    font-size: 0.9em;
}

.bordo{
    background-color: grey;
    border-radius: 7px;
    padding: 5px;
    margin-right: 10px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    height: 80vh;
}

footer{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: #0D1117;
}

.immagine{
    position: relative;
}

.immagine{
    margin-top: 10px;
    margin-right: 5px;
}

.palla{
    position: absolute;
    bottom: 5px;
    color: white;
    background: rgba(210, 210, 210, 0.3);
    left: 0;
    padding: 5px;
}       


.menu-left{
    display: flex;
    align-items: center;
}

.mute-menu,
.video-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}


.menu-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-menu-center{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

.menu-right{
    display: flex;
}

.end{
    display: flex;
    align-items: center;
    background-color: violet;
    color: red;
    padding: 20px;
}

.fa-share-from-square{
    color: green;
}

.fa-angle-up{
    display: flex;
    margin-left: 10px;
}